<div class="surface">
  <table class="board">
    <tr>
      <td></td>
      <th scope="col">a</th>
      <th scope="col">b</th>
      <th scope="col">c</th>
      <th scope="col">d</th>
      <th scope="col">e</th>
      <th scope="col">f</th>
      <th scope="col">g</th>
      <th scope="col">h</th>
    </tr>
    {{#each this.grid as |row i|}}
      <tr class="row"> 
        <th scope="row">{{add i 1}}</th>
        {{#each row as |piece j|}}
          <td class="space">
            {{yield
              piece
              (hash
                selectPiece=this.selectPiece
                selectedPiece=this.selectedPiece
                movePiece=(fn this.movePiece (get-position-for-index i j))
              )
              (get-position-for-index i j)
            }}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</div>