<button
  type="button"
  class="empty-space"
  disabled={{if @canMoveHere false true}}
  {{on "click" @moveHere}}
  {{on "drop" this.drop}}
  {{on "dragover" this.dragOver}}
  ...attributes
>
</button>
